{% extends 'base.html.twig' %}
{% block title %} Tienda DWCS {% endblock %}

{% block body %}

<h1> {{ component('Alert') }} </h1> <br><br>





{% for animal in animales %}
    <p>Nombre: {{ animal.name }}</p>
    <p>Especie: {{ animal.species }}</p>
    <p>Comidas permitidas: {{ animal.foods.likes|join(', ') }}</p>
    <p>Comidas no permitidas: {{ animal.foods.dislikes|join(', ') }}</p>
  
    <hr>
{% endfor %}

{% endblock %}


